*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(/static/imagenes/recursos.png);
    background-attachment: unset;
    background-position: center center;
}

#pipipi{
    color: white;
    display: block;
    width: 90%;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #000000;
    background: #0000007a;

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    -moz-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: calc(100% - 4rem);
    
}
.footer {
    height: 8rem;
    background-color: #374041;
    padding: 20px 10px;
}
.seccion-final{
    display: flex;
    justify-content: space-around;
}
footer,p{
    color:aliceblue;
}
