{% extends "layout.html" %}

{% block content %}


    <table  width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <tbody>
    <tr>
    <td color="FFFFFF" bgcolor="#77B0AA" valign="top">
    <center><h3>EMPLEADOS REGISTRADOS</h3></center>
    <table class="table table-dark table-hover" width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <thead>
      <tr>
        <td color="white" bgcolor="blue">Nombre del empleado</td>

        <td color="white" bgcolor="black"></td>
        <td color="white" bgcolor="black"></td>
        <td color="white" bgcolor="black"> <rigth><h2><a href="/empleados_agrOp2" class="btn btn-dark btn-sm">Agregar</a></h2></rigth>  </td>
      </tr>
    </thead>
    <tbody>
    {% for i in pue %}
        <tr>
        <td width="80%">
            {{i.1}}
        </td>

        <td bgcolor="#2B2D83" width="6%">
        <center><a href="/empleados_fdetalle/{{i.0}}" class="btn btn-outline-info btn-sm ">Detalle</a></center>
        </td>
        <td bgcolor="#2B2D83" width="6%">
        <center><a href="/empleados_editar/{{i.0}}" class="btn btn-outline-info btn-sm ">Editar</a></center>
        </td>
        <td bgcolor="#3C3EC5" width="6%">
        <center><a href="/empleados_borrar/{{i.0}}" class="btn btn-outline-primary btn-sm">Borrar</a></center>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
<br>
<h3>
    <CENTER> <b> Detalle: </b> </CENTER>

</h3>
<br>

<form class="row g-3"  action="/empleados_fdetalle/" method="GET" id="pipipi">
    <div class="col-md-12">
       <label for="nombre" class="form-label">Nombres</label>
       <input type="text" class="form-control" name="nombre" id="nombre" value="{{dat.3}}" readonly="readonly"></input>
    </div>
    <br>
    <div class="col-md-6">
       <label for="apellido" class="form-label">Apellidos</label>
       <input type="text" class="form-control" name="apellido" id="apellido" value="{{dat.1}}" readonly="readonly"></input>
    </div>
    <div class="col-md-6">
       <label for="idRequisicion" class="form-label">Requisicion</label>
       <input type="text" class="form-control" name="idArea" id="idArea" value="{{catArea.1}}" readonly="readonly"></input>
 
    </div>
    <div class="col-md-12">
       <label for="idPuesto" class="form-label">Puesto</label>
       <input type="text" class="form-control" name="idPuesto" id="idPuesto" value="{{dat.4}}" readonly="readonly"></input>
    </div>
    <div class="col-md-8">
       <label for="idEstadoCivil" class="form-label">Estado Civil</label>
       <input type="text" class="form-control" name="idEstadoCivil" id="idEstadoCivil" value="{{dat.5}}" readonly="readonly"></input>
    </div>
    <div class="col-md-4">
       <label for="idEscolaridad" class="form-label">Escolaridad</label>
       <input type="text" class="form-control" name="idEscolaridad" id="idEscolaridad" value="{{dat.6}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
       <label for="idGradoAvance" class="form-label">Grado de Avance</label>
       <input type="text" class="form-control" name="idGradoAvance" id="idGradoAvance" value="{{dat.7}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
       <label for="idCarrera" class="form-label">Carrera</label>
       <input type="text" class="form-control" name="idCarrera" id="idCarrera" value="{{dat.8}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="CURP" class="form-label">CURP</label>
        <input type="text" class="form-control" name="CURP" id="CURP" value="{{dat.9}}" readonly="readonly"></input>
    </div>
    <div class="col-md-4">
        <label for="RFC" class="form-label">RFC</label>
        <input type="text" class="form-control" name="RFC" id="RFC" value="{{dat.10}}" readonly="readonly"></input>
    </div>
    <div class="col-md-4">
        <label for="domCalle" class="form-label">Calle</label>
        <input type="text" class="form-control" name="domCalle" id="domCalle" value="{{dat.11}}" readonly="readonly"></input>
    </div>
    <div class="col-md-4">
        <label for="domNumExtInt" class="form-label">Numero Exterior</label>
        <input type="text" class="form-control" name="domNumExtInt" id="domNumExtInt" value="{{catEdoCivil.1}}" readonly="readonly"></input>

    </div>
    <div class="col-md-4">
        <label for="domColonia" class="form-label">Colonia</label>
        <input type="text" class="form-control" name="domColonia" id="domColonia" value="{{catEscolaridad.1}}" readonly="readonly"></input>
    </div>
    <div class="col-md-4">
        <label for="tel1" class="form-label">Telefono</label>
        <input type="text" class="form-control" name="tel1" id="tel1" value="{{catGradoAvance.1}}" readonly="readonly"></input>
        </select>
    </div>
    <div class="col-md-4">
        <label for="sueldo" class="form-label">Sueldo</label>
        <input type="text" class="form-control" name="sueldo" id="sueldo" value="{{catCarrera.1}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="correoE" class="form-label">Correo</label>
        <input type="text" class="form-control" name="correoE" id="correoE" value="{{dat.16}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="edad" class="form-label">Edad</label>
        <input type="text" class="form-control" name="edad" id="edad" value="{{dat.17}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="manejoEquipo" class="form-label">Sexo</label>
        <input type="text" class="form-control" name="manejoEquipo" id="manejoEquipo" value="{{dat.18}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="sexo" class="form-label">Idiomas</label>
        <input type="text" class="form-control" name="sexo" id="sexo" value="{{dat.18}}" readonly="readonly"></input>
    </div>
    <div class="col-md-12">
        <label for="sexo" class="form-label">Habilidades</label>
        <input type="text" class="form-control" name="sexo" id="sexo" value="{{dat.18}}" readonly="readonly"></input>
    </div>
      <div class="col-6">
         <span>Idiomas:</span>
             {% for idio in catIdioma  %}
                 <input type="text" class="form-control" name="i{{idio.1}}" id="i{{idio.1}}" value="{{idio.2}}" readonly="readonly"></input>
             {% endfor %}
      </div>
      <div class="col-6">
        <span>Habilidades:</span>
            {% for hab in catHabilidad %}
                <input type="text" class="form-control" name="h{{hab.1}}" id="h{{hab.1}}" value="{{hab.2}}" readonly="readonly"></input>
            {% endfor %}
      </div>
 </form>
 


{% endblock %}
