{% extends "layout.html" %}

{% block content %}

<marquee><h1>BIENVENIDOS A NUESTRA EMPRESA</h1></marquee>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae autem excepturi ullam unde incidunt iste delectus totam doloribus consectetur commodi, laboriosam vero. Quia rem exercitationem assumenda ratione quod, tenetur ipsa.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto inventore quam neque commodi assumenda iste eligendi reprehenderit debitis, in placeat quas fuga atque, voluptatibus rerum perferendis voluptatem officiis soluta a
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ex commodi totam modi quam, cum aliquid minima ea enim molestiae! Esse accusamus ea possimus assumenda, enim hic aliquam eum fugiat?<br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dicta ea id quibusdam! Quaerat totam tempore voluptatibus quo dolor doloribus, recusandae corrupti dolorum officia sunt facilis, odit optio in? Repudiandae.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum incidunt inventore ab saepe vel eum aspernatur ratione hic sed rerum? Vitae, laborum esse eaque non maiores molestias natus veniam porro!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod earum, eaque quas, fugiat sunt recusandae alias repellat, esse dolores expedita ad neque corrupti? Quam voluptates quae tenetur beatae architecto blanditiis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ipsum suscipit error explicabo doloremque illum qui magnam corporis quidem minus dolore voluptas doloribus, accusantium eligendi iure aspernatur magni. Dolorum, neque!<br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus perspiciatis placeat repudiandae vero fuga natus eveniet quidem nulla aut nam dolores mollitia, explicabo repellendus ab. Sed eius at architecto dolorum?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nobis, ut officia corporis consequuntur possimus cumque soluta asperiores! Recusandae molestiae, nesciunt error dolor harum aspernatur est sed aliquid at ipsum.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum incidunt inventore ab saepe vel eum aspernatur ratione hic sed rerum? Vitae, laborum esse eaque non maiores molestias natus veniam porro!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod earum, eaque quas, fugiat sunt recusandae alias repellat, esse dolores expedita ad neque corrupti? Quam voluptates quae tenetur beatae architecto blanditiis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ipsum suscipit error explicabo doloremque illum qui magnam corporis quidem minus dolore voluptas doloribus, accusantium eligendi iure aspernatur magni. Dolorum, neque!<br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus perspiciatis placeat repudiandae vero fuga natus eveniet quidem nulla aut nam dolores mollitia, explicabo repellendus ab. Sed eius at architecto dolorum?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nobis, ut officia corporis consequuntur possimus cumque soluta asperiores! Recusandae molestiae, nesciunt error dolor harum aspernatur est sed aliquid at ipsum.
</p>

{% endblock %}
