{% extends "layout.html" %}

{% block content %}

<table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <tbody>
    <tr>
    <td color="FFFFFF" bgcolor="#135D66" valign="top">
        <rigth><h2><a href="/idiomas_agregar" class="btn btn-dark btn-sm">Agregar</a></h2></rigth>
    <center><h3>IDIOMAS REGISTRADAS</h3></center>
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <thead>
        <tr>
        <td color="white" bgcolor="#77B0AA">Descripcion</td>
        <td color="white" bgcolor="black"></td>
        <td color="white" bgcolor="black"></td>
        </tr>
    </thead>
    <tbody>
    {% for i in comentarios %}
        <tr>
        <td width="80%">
            {{i.1}}
        </td>

        <td bgcolor="#77B0AA" width="8%">
        <center><a href="/idiomas_editar/{{i.0}}">Editar</a></center>
        </td>
        <td bgcolor="#77B0AA" width="8%">
        <center><a href="/idiomas_borrar/{{i.0}}">Borrar </a></center>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>


{% endblock %}
